<footer class="footer">
  <div class="container">
    <nav class="navbar portfolio-navbar-footer">
      <div class="navbar-brand">
        <a href="/" class="navbar-item footer-navbar-item">
          Louis Larsen, <span id="current-year"></span>
        </a>
      </div>
      <div class="navbar-menu portfolio-footer is-flex">
        <div class="navbar-end is-flex">
          <a class="navbar-item footer-navbar-item" href="https://www.instagram.com/drumfury02">
            <span class="icon">
              <i class="fab fa-instagram"></i>
            </span>
          </a>
          <a class="navbar-item footer-navbar-item" href="https://www.linkedin.com/in/lalarsen02/">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
          </a>
          <a class="navbar-item footer-navbar-item" href="https://github.com/lalarsen02">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <script src="{{ url_for('static', filename='js/getYear.js') }}"></script>
</footer>
