<nav class="navbar portfolio-navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="/">
        <img class="portfolio-logo" src="{{ url_for('static', filename='logo.png') }}">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar" class="navbar-menu portfolio-menu">
      <div class="navbar-end">
        <a class="navbar-item head-navbar-item">Portfolio</a>
        <a class="navbar-item head-navbar-item">Music</a>
        <a class="navbar-item head-navbar-item">Resume</a>
        <a class="navbar-item link head-navbar-item" href="https://www.instagram.com/drumfury02">
          <span class="icon">
            <i class="fab fa-instagram"></i>
          </span>
        </a>
        <a class="navbar-item link head-navbar-item" href="https://www.linkedin.com/in/lalarsen02/">
          <span class="icon">
            <i class="fab fa-linkedin"></i>
          </span>
        </a>
        <a class="navbar-item link head-navbar-item" href="https://github.com/lalarsen02">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</nav>