<nav class="navbar portfolio-navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="brand" href="/">
        <figure class="image">
          <img class="portfolio-logo" src="{{ url_for('static', filename='images/logo.png') }}">
        </figure>
        <h2 class="title">Louis Larsen</h2>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item head-navbar-item" href="/portfolio">Portfolio</a>
        <a class="navbar-item head-navbar-item" href="/music">Music</a>
        <a class="navbar-item head-navbar-item" href="/about">About</a>
        <div class="navbar-group">
          <a class="navbar-item link head-navbar-item" href="https://www.youtube.com/@louislarsen7261">
            <span class="icon">
              <i class="fab fa-youtube"></i>
            </span>
          </a>
          <a class="navbar-item link head-navbar-item" href="https://www.instagram.com/drumfury02">
            <span class="icon">
              <i class="fab fa-instagram"></i>
            </span>
          </a>
        </div>
        <div class="navbar-group">
          <a class="navbar-item link head-navbar-item" href="https://www.linkedin.com/in/lalarsen02/">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
          </a>
          <a class="navbar-item link head-navbar-item" href="https://github.com/lalarsen02">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
          </a>
        </div>        
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/navbar-transition.js') }}"></script>
</nav>
