<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Louis Larsen</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- For 32x32 and 16x16 icons -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">

    <!-- For Apple Touch Devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>
  <body class="has-navbar-fixed-top">
    {% include 'header.html' %}
    <section class="section">
      <div class="container">
        <div class="dropdown">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Sort Projects</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item" id="recent">
                <span>Most Recent (Default)</span>
                <span class="icon is-small">
                  <i class="fas fa-check" aria-hidden="true"></i>
                </span>
              </a>
              <a class="dropdown-item" id="alpha">
                <span>Alphabetical</span>
                <span class="icon is-small"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="project-grid" id="resultsDiv"></div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/getprojects.js') }}"></script>
    {% include 'footer.html' %}
  </body>
</html>